HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment Files ###
.env

### javadoc.txt ###
javadoc.txt

### Initial Hash Password Generator Class ###
/src/main/java/dev/bozlak/InitialAdminHashPasswordGenerator.java

### Docker Compose Support - Test DB directory ###
db_pre-accounting/

### AI Output for Test-Pipeline ###
errors.txt
infos.txt

